* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.board-row{
  border: 1px solid green;
}

.square{
  width: 5rem;
  height: 5rem;
  font-size: 2rem;
  cursor: pointer;
}
